<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wwu.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".homePage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".individualRecipePage"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".publicRecipesPage"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".editRecipePage"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".individualPublicRecipePage"
            android:windowSoftInputMode="adjustPan"/>

    </application>

</manifest>